@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');


*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}

.click {
    font-family: 'Acme', sans-serif;
    font-size: 6rem;
    text-transform: uppercase;
    padding: .5em .7em;
    border: 0;
    border-radius: 10px;
    background: none;
    letter-spacing: .02em;
    transition: all ease 500ms;
    color: #0d0d0d;
    text-shadow: 2px 2px 2px #242424;
}

.click:hover {
    cursor: pointer;
    transform: scale(1.3);
    text-shadow: 5px 5px 10px #242424;
}

.click:active {
    transform: scale(.8);
    text-shadow: none;
}